body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 400px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #B692C2; /* Nowy fioletowy */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header-title {
    display: flex;
    align-items: center;
}

.chat-header-title img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-box {
    height: 75vh; /* Ustawia wysokość na 75% wysokości widoku (viewport height) */
    padding: 20px;
    overflow-y: auto; /* Dodaje pionowy pasek przewijania, jeśli zawartość przekracza wysokość elementu */
    background-color: #f4f4f9; /* Ustawia kolor tła elementu na jasnoszary (#f4f4f9) */
    color: #000; /* Ustawia kolor tekstu na czarny */
}

.chat-box .message {
    margin: 10px 0;
    display: flex;
}

.chat-box .message.user {
    justify-content: flex-end;
}

.chat-box .message.bot {
    justify-content: flex-start;
}

.chat-box .message .message-content {
    max-width: 70%;
    padding: 10px;
    border-radius: 15px;
    background-color: #B692C2; /* Nowy fioletowy */
    color: #fff;
}

.chat-box .message.user .message-content {
    background-color: #B692C2; /* Nowy fioletowy */
    color: #fff;
}

.chat-box .message.bot .message-content {
    background-color: #e0e0e0; /* Jasnoszary */
    color: #000;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fff;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f4f4f9;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #694F8E; /* Nowy ciemny fioletowy */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #503766; /* Ciemniejszy odcień ciemnego fioletu */
}
